[Unit]
Description=Chat Toolkit Scraper Worker
After=network.target

[Service]
# Asegúrate de que este usuario es correcto (el tuyo de linux)
User=kvir
Group=kvir

# Directorio principal del proyecto
WorkingDirectory=/home/kvir/PersonalProjects/chat-download

# Ejecuta el worker usando el entorno virtual de Python
ExecStart=/home/kvir/PersonalProjects/chat-download/venv/bin/python manage.py run_scraper_worker

# Reinicia automáticamente si el worker falla
Restart=always
RestartSec=5

# Logs
StandardOutput=append:/home/kvir/PersonalProjects/chat-download/worker.log
StandardError=append:/home/kvir/PersonalProjects/chat-download/worker_error.log

[Install]
WantedBy=multi-user.target
